@xero:registry=https://artifactory.xero-support.com/artifactory/api/npm/npm-dev
# This tells npm NOT to install peer dependencies which is consistent
# with how npm worked in v6 (node v12). There are currently conflicts
# in our peer dependency requirements that will need to be resolved
# before we can remove this flag.
legacy-peer-deps=false